mixin blah(note)
  .blah
    .left
      img.avatar(src=note.user.icon, alt=note.user.display_name)
    .right
      .name
        span.display-name #{note.user.display_name}
        span.screen-name @#{note.user.name}@#{note.user.domain}
      a.date(href=note.object_id) #{note.created_at}
      if note.warning_text
        .warning #{note.warning_text} #[button.toggle(data-toggle=note.id) 表示]
      .text(data-toggle=note.id, class=(note.warning_text ? 'hidden' : ''))
        | !{note.body_html}
      .media
        each media in note.media
          if (media.type.startsWith('video/'))
            video(src=media.url, preload='metadata', class=(note.is_sensitive ? 'sensitive' : ''))
          else
            a(href=media.url, class=(note.is_sensitive ? 'sensitive' : '')) #[img(src=media.url, alt=media.url)]
      .actions
        a.reply(href="#")
          i.fas.fa-reply
          | 首を突っ込む
        if note.is_public
          a.secondhand(href="#")
            i.fas.fa-retweet
            | 受け売り
        a.favorite(href="#")
          i.fas.fa-star
          | 好意
