extends layouts/admin.pug

block body
  .container
    .home-layout
      .right
        .integrated-menu
          a.menu-item(href="/admin/blahs") 世迷い言 (つぶやき)
          a.menu-item(href="/admin/media") 現実 (メディア)
          a.menu-item(href="/admin/followings") 興味の対象 (フォロー)
          a.menu-item(href="/admin/followers") 観察者 (フォロワー)
          a.menu-item(href="/admin/favorites") 好意 (お気に入り)
          a.menu-item(href="/admin/purgatory") 煉獄

      .left
        .user-jumbotron
          img.header(src=user.header, alt=user.display_name)
          img.avatar(src=user.icon, alt=user.display_name)
          .profile-background
          .profile
            .display-name #{user.display_name}
            .screen-name @#{user.name}
